#search-city{
    width:11.5em;
}
#search-button-icon{
    width:15px;
}
.weather-card{
    width: 9rem;
}
#header{
    background-size:cover;
    background-position-y: 50%;
    color:white;
    position:relative !important;
}
#header h1{
    font-size:5em !important;
}
#artist-credit{
    font-size:.5em;
    position:absolute;
    right:2em;
    bottom:2em;
}
